body 
{
    font-family: 'Ubuntu', sans-serif;
}

.section-title 
{
    background-color: #efefef;
    margin-top: 0;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 400;
}

.conteinerBorder 
{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn-aux 
{
    font-size: 14px;
    color: #222;
    margin-left: 30px;
    margin-top: -2px;
    display: inline-block;
}